.school {
    position: absolute; 
    display:flex;
    flex-direction:row;
    font-style: bold;
    width: 100%;
    gap: 38%;
    color: white;
    height: 100%;
}

#Time{
    font-style: italic;
}

.awards{
    position: absolute;
    top: 33%;
    font-size: 3vh;
    color: white;
}


#Two{
    position: absolute;
    top: 20%;
    gap: 40%;
    
}