body{
    background-color: black;
    overflow: hidden;
    font-family: sans-serif;
}

.page-select {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    left: 5%;
    border-left: 5px  solid;
    border-right: 5px solid ;
    
    border-color: rgb(64, 162, 216);
    background-color: rgb(11,96,176);
    justify-content: center;
}
.page-select > a{
    
    font-style: italic;
    font-size: 25px;
    color:white;
    text-align: center;
    text-decoration: none;
    background-color: rgb(64, 162, 216);
    
}
.page-select > a:hover{
    
    background-color: rgb(11,96,176);
    
}

.portfolio-title {
    position: absolute;
    margin:auto;
    width: 90%;
    height: 15%;
    top: 10%;   
    left: 15.5%;
    border-top: 5px solid rgb(64, 162, 216);
    border-bottom: 5px solid rgb(64, 162, 216);
    background-color: rgb(11,96,176);
}
.portfolio-title > h1{
    font-style: italic;
    text-decoration: underline;    
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    
    color: white;
    top: 30%;
}

#left-side {
    position: absolute;
    width: 5%;
    height: 100vh;
    
    background-color: rgb(240, 237, 207);
    justify-content: center;
    /*position:absolute;
    background-color: rgb(240, 237, 207);
    width: 5%;
    min-height: 100vh;*/
}
#top-side{
    position: absolute;
    margin:auto;
    width: 90%;
    height: 15%;
    left: 15%;
    background-color: rgb(240, 237, 207);
}

